<p>For many people, <a href="http://akismet.com/">Akismet</a> will greatly reduce or even completely eliminate the comment and trackback spam you get on your sites. If one does happen to get through, simply mark it as "Junk" and Akismet will learn from the mistakes. MT-Akismet requires a WordPress.com account. If you don't have a WordPress.com account yet, you can get one at <a href="http://wordpress.com/api-keys/">WordPress.com</a>.</p>

<div class="setting">
	<div class="label">API Key:</div>
	<div class="field">
	<input type="text" size="15" name="api_key" value="<TMPL_VAR NAME=API_KEY>" />
	<p>(<a href="http://faq.wordpress.com/2005/10/19/api-key/">What is this?</a>)</p>
	</div>
</div>

